<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<listeners>
		<listener class-name="ExtentReporterNG.ExtentReporterNG" />
	
		
	</listeners>


	<test name="Test1">
		<classes>
			<class name="Tests.EVA_LoginPageTest" />
		</classes>
	</test>

	<test name="Test2">
		<classes>
			<class name="Tests.EVA_FlightsPageTest" />
		</classes>
	</test>

</suite> 